<div class="p-5">
  <div class="p-5">
    <div class="p-5">
      <div class="card" style="width: 500px; margin: 0 auto;">
        <img src={{imgurl}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            <div class="row">
              <div class="col-md-3">{{username}}</div>
              <div class="col-md-9" style="font-size: 14px; position:relative; top:5px; left:-50px;"><span class="badge bg-primary">{{company}}</span><span class="badge bg-secondary mx-1">{{location}}</span> <span class="badge bg-primary mx-1">Followers {{followers}}</span></div>
            </div>
          </h5>
          <p class="card-text">{{bio}}</p>
        </div>
    </div>
    </div>
  </div>
</div>
